.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-areas: "block block block";
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}