p {
    font-style: italic;
}

a::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../../Images/smiley.png");
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}