main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    text-align: center;
}

img {
    width: 250px;
}

.hidden {
    visibility: hidden;
}

.gridButton {
    grid-column-start: 1;
    grid-column-end: 7;
    margin-left: 0;
    height: 50px;
}

.gridButton button, .gridButton #counter, .gridButton #aantalKliks {
    position: absolute;
    font-weight: bold;
    font-size: 1.2em;
}

.gridButton button {
    left: 10px;
}

.gridButton #counter {
    top: 20px;
    left: 10px;
}

.gridButton #aantalKliks {
    top: 20px;
    left: 350px;
}