p {
    color: black;
    font-size: 20px;
}

p a::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(../Images/smiley-icon.jpg);
    background-size: contain;
    margin-right: 5px;
    vertical-align: middle;
    display: inline-block;
}