body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

body p, body li {
    font-size: 1.2em;
}

header {
    text-align: center;
}

header img {
    width: 30%;
}

main h1, main h2 {
    color: #007e7e;
}

main {
    float: left;
    width: 70%;
    padding: 25px;
}

aside {
    border: 4px solid #007e7e;
    float: right;
    width: 25%;
    text-align: center;
}

aside h1 {
    font-size: 1.8em;
}

aside h2 {
    color: #8b0000;
}

#quote {
    background-color: #a7cece;
    color: #444444;
    border: 2px dotted white;
    width: 95%;
    margin: 30px auto 30px auto;
}

#quote p {
    background-image: url("../Images/background.gif");
    background-repeat: no-repeat;
    padding-left: 80px;
}

footer {
    font-size: 0.5em;
    text-align: center;
    clear: both;
}

main ul li:first-child {
    font-style: italic;
}

main ul li:first-child span {
    font-weight: bold;
    font-style: normal;
}

aside h1:first-child {
    background-repeat: repeat-x;
    background-image: url("../Images/cocktail.gif");
    margin: 0;
    padding-top: 80px;
    padding-bottom: 20px;
}